<div class="row">

  <div ng-if="!vm.user">

    <form class="form" ng-submit="vm.login(vm.username,vm.password)" novalidate>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" ng-model="vm.username"/>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" ng-model="vm.password"/>
      </div>

      <div class="form-group">
        <button class="btn btn-default" type="submit">Login</button>
      </div>

    </form>

  </div>


  <div ng-if="vm.user">


    <h1>Welcome {{vm.user.username}}</h1>
    <br/>
    <button class="btn btn-warning" ng-click="vm.logout()">Logout</button>


    <h1>Get Random User</h1>

    <button class="btn btn-default" ng-click="vm.getRandomUser()">Get User</button>
    <pre>{{vm.randomUser | json}}</pre>
  </div>

</div>
